body {
  background-color: whitesmoke;
  color: black;
}
#editor {
  background-color: whitesmoke;

}
.App {
  height: 100vh;
}

.Main {
  min-height: 80vh;
}

.Editor {
  height: 100%;
}


.night-mode{
  background-color: black !important;
  color: rgba(255, 255, 255, 0.719)!important;
  
}

#preview table, th, td {
    border: solid 1px;
    
  }
  #preview img{
      width: 100%;
      height: auto;
    }

    blockquote{
      font-size: 1.4em;
      width:60%;
      margin:50px auto;
      font-family:Open Sans;
      font-style:italic;
      padding:1.2em 30px 1.2em 75px;
      border-left:8px solid;
      line-height:1.6;
      position: relative;
    }
    
    blockquote::before{
      font-family:Arial;
      content: "\201C";
      font-size:4em;
      position: absolute;
      left: 10px;
      top:-10px;
    }
    
    blockquote::after{
      content: '';
    }
    
    blockquote span{
      display:block;
      font-style: normal;
      font-weight: bold;
      margin-top:1em;
    }

    code {
      color:green !important;
    }
